body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  /* padding-left: 100px; */
  position: relative;
  z-index: 1;
}

/* 노트북 이하 (1024px 이하) */
@media (max-width: 1024px) {
  .main {
    padding-left: 60px;
  }
}

/* 태블릿 이하 (768px 이하) */
@media (max-width: 768px) {
  .main {
    padding-left: 0 !important;
    flex-direction: column;
  }
}

/* 모바일 이하 (480px 이하) */
@media (max-width: 480px) {
  .main {
    padding-left: 20px;
  }
}

